.Navbar {
    padding: 20px;
    /* background: #094c00; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-weight: 800;
    /* background-color: black; */
    color: gold;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    
    justify-content: flex-start;
    position: sticky;
    top: 0;
    /* overflow: hidden; */
    /* display: block; */
}


