p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.Card {
    /* background: rgb(255, 0, 0); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    border-radius: 20px;
    /* background-color: rgb(249, 249, 249); */
    margin-bottom: 60px;
    margin-top: 10px;
    background-color: rgb(110, 195, 13);
    /* width: -500px; */

    /* margin-left: 60px; */
    /* background-color: white; */
    cursor: pointer;
 
}

.Card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(179, 224, 89);
    transition: 0.2s ease-in;
    transform: scale(1.05);
 
}


.img {
    /* border: 2px solid red; */
    height: 170px;
    /* width: 200px; */
    /* object-fit: cover; */
    
}


.Card__img {
    background-color: white;
    /* padding: 30px; */
    border-radius: 20px 20px 0 0;
 
    text-align: center;


}

.Card__types {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
    /* background-color: blue; */
    padding: 30px;
    margin-top: 10px;
    /* background-color:; */
    /* padding: 20px; */
}

.Card__type {
    padding: 15px 30px;
    margin-bottom: 20px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: cyan;
    font-size: 18px;
    font-weight: 800;
    /* color: rgb(255, 94, 94); */
    color: black;

}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    border-radius: 0 0 20px 20px;
    /* margin-top: 20px; */
    /* font-weight: 2rem; */
    font-size: 2.2rem;
    /* border: 2px dashed greenyellow; */
    padding: 6px;
    /* background-color: #008b31; */
    background-color: greenyellow;
    color: black;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

.Card__info {
    margin-left: 10px;
    /* background-color: aliceblue; */
    /* border: 2px solid greenyellow; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* color: aliceblue; */
    display: flex;
}

/* .Card__info:hover {
    color: white;
} */

.Card__data {
    padding-bottom: 20px;
    /* color: rgb(189, 11, 11); */
    /* color: white; */
    color: rgb(53, 53, 53);
}



.Card__data .title {
    /* font-weight: ; */
    font-size: 25px;
    font-weight: 900;
}

